<a href="https://colab.research.google.com/github/Samarth170203/py-basics/blob/main/Py(Loops%2CFunctions%2CDictionary%2CList%2CTuples%2CException_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#while loop in Python Programming
A while loop statement in Python programming language repeatedly executes a target statement as long as a given condition is true.

In [ ]:
# while statement is like if statement.
i = 0
while i<5:
  print (i)
  i= i+1

0
1
2
3
4

In [ ]:
# A break statement is used to break from a loop
i = 0
while i<15:
  if i==12:
    break
  print (i)
  i= i+1

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# A continue statement stops the flow and goes back again to the starting point of block.
#
# continue - goes back to start of the block

i = 0
while i<20:
  if (i % 2==0):
    i=i+1
    print ("Inside continue",i)
    continue
  i=i+2
  print (i)
  i= i+1

Inside continue 1
3
Inside continue 5
7
Inside continue 9
11
Inside continue 13
15
Inside continue 17
19

In [ ]:
#Using else Statement with While Loop
count = 0
while count < 15:
   print (count, " is  less than 5")
   count = count + 1
else:
   print (count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is  less than 5
6  is  less than 5
7  is  less than 5
8  is  less than 5
9  is  less than 5
10  is  less than 5
11  is  less than 5
12  is  less than 5
13  is  less than 5
14  is  less than 5
15  is not less than 5

#for loop in Python Programming
Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable.

In [ ]:
#Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, -8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
	sum = sum+val

print("The sum is", sum)

The sum is 32

In [ ]:
#range function
#We can generate a sequence of numbers using range() function.
print(range(10))

print(list(range(10)))

print(list(range(2, 8)))

print(list(range(2, 20, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [ ]:
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#for loop with else
#A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.

digits = [0, 1, 5, 32]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
32
No items left.

In [ ]:
#break statement in for loop
#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "cherry":
    break

apple
banana
cherry

In [ ]:
# program to display student's marks from record
student_name = 'Sandeep'

marks = {'Ankush': 90, 'Divyam': 55, 'Sanjay': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

No entry with that name found.

#nested loops in Python programming
Python programming language allows to use one loop inside another loop. Following section shows few examples to illustrate the concept.

In [ ]:
#The following program uses a nested for loop to find the prime numbers from 2 to 100 âˆ’
i = 2
while(i < 100):
   j = 2
   while(j <= (i/j)):
      if not(i%j): break
      j = j + 1
   if (j > i/j) : print (i, " is prime")
   i = i + 1

print ("Good bye!")

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
53  is prime
59  is prime
61  is prime
67  is prime
71  is prime
73  is prime
79  is prime
83  is prime
89  is prime
97  is prime
Good bye!

In [ ]:
#nested loop
for i in range(1, 5):
    for j in range(i):
         print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

#Functions
Functions help to reuse code. They bring modularity and simplicity to code

In [ ]:
# functions in python are created using def statement
def name_philospher():
  print ('Bertrand Russell')

In [ ]:
name_philospher()

Bertrand Russell

In [ ]:
# One can pass arguments to functions
# name is an argument for the function name_of_philosphers

def name_philospher(name, country):
  print (name,country)

In [ ]:
name_philospher('Bertrand Russell', '- United Kingdom')
name_philospher('Carl Marx', '- Germany')

Bertrand Russell - United Kingdom
Carl Marx - Germany

In [ ]:
#function can  return values

def name_of_philospher(name,country):
  str = "The philosopher {} lived in  country {}".format(name,country)
  return str

name = name_of_philospher('Bertrand Russell','United Kingdom')
print (name)

The philosopher Bertrand Russell lived in  country United Kingdom

In [ ]:
# function can return multiple values
# The function adds and subtsracts two numbers
def add_and_substract(num1,num2):
    add = num1+num2
    diff = num1-num2
    return add,diff

add,diff = add_and_substract(10,2)

print ("The sum is =",add)
print ("The difference is =",diff)

The sum is = 12
The difference is = 8

In [ ]:
# Functions are just like normal variables. They can be assigned and reassigned to variables

def add_and_substract(num1,num2):
    """
     The function adds and subtsracts two numbers
    """
    add = num1+num2
    diff = num1-num2
    return add,diff

operation = add_and_substract

num1, num2 = operation(10,2)
print (num1, num2)

12 8

In [ ]:
# The special syntax, *args and **kwargs in function definitions is used to pass a variable number of arguments to a function.

# The single asterisk form (*args) is used to pass a non-keyworded, variable-length argument list,
# and the double asterisk form is used to pass a keyworded, variable-length argument list.


def add_numbers(*args):

  for i in args:
    print (i)

add_numbers(1,2,3,4,5)



def add_numbers(**kwargs):
    for key in kwargs:
        print ("another keyword arg: {}: {}".format(key, kwargs[key]))


add_numbers(num1=1,num2=2,num3=3,num4=4,num5=5)

1
2
3
4
5
another keyword arg: num1: 1
another keyword arg: num2: 2
another keyword arg: num3: 3
another keyword arg: num4: 4
another keyword arg: num5: 5

#Dictionary
Python dictionary is an unordered collection of items. Each item of a dictionary has a key/value pair.

In [ ]:
#Accessing Values in Dictionary
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [ ]:
# Dictionaries are data structures used to map key to values

philosphers = {"United Kingdom":"Bertrand Russell", "Germany":"Karl Marx"}

print (philosphers["United Kingdom"])
print (philosphers["Germany"])

Bertrand Russell
Karl Marx

In [ ]:
philosphers = {"UK":"Bertrand Russell", "Germany":"Karl Marx", "India":None}

philosphers["India"] = "AryaBhatt"              #One can assign a existing key to new value
philosphers["United Kingdom"] = "John Mill" #One can assign a existing key to new value
philosphers["United States"] = "John Dewey" # One can create a new key and assign a value

print (philosphers)

{'UK': 'Bertrand Russell', 'Germany': 'Karl Marx', 'India': 'AryaBhatt', 'United Kingdom': 'John Mill', 'United States': 'John Dewey'}

In [ ]:
# One can determine whether a key is present in dictionary or not (using "in" and "not in")

philosphers = {"UK":"Bertrand Russell", "Germany":"Karl Marx", "India":"Arya Bhatt"}

print ("India" in philosphers)
print ("Brazil" in philosphers)
print ("Brazil" not in philosphers)


print(philosphers)

True
False
True
{'UK': 'Bertrand Russell', 'Germany': 'Karl Marx', 'India': 'Arya Bhatt'}

In [ ]:
# using keys, values and items in dictionary

philosphers = {"UK":"Bertrand Russell", "Germany":"Karl Marx", "India":"Arya Bhatt"}

print (philosphers.keys())

print(type(philosphers.keys()))

print (philosphers.values())
print(type(philosphers.values()))

print (philosphers.items())
print(type(philosphers.items()))

dict_keys(['UK', 'Germany', 'India'])
<class 'dict_keys'>
dict_values(['Bertrand Russell', 'Karl Marx', 'Arya Bhatt'])
<class 'dict_values'>
dict_items([('UK', 'Bertrand Russell'), ('Germany', 'Karl Marx'), ('India', 'Arya Bhatt')])
<class 'dict_items'>

#List
A list denotes a container object in python and it is used to store indexed list of items. A list can contain different types of items for e.g. string, integer or other list.

In [ ]:
word_list = ['This', 'is', 'good']  # A list of 3 items

print (word_list[0]) # prints the first  item. Index starts at 0.
print (word_list[1]) # prints the second item
print (word_list[2]) # print the third item


# An empty list is created with empty bracket
empty = []
print (empty)

This
is
good
[]

In [ ]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

print(my_list[-1])

print(my_list[-5])

e
p

In [ ]:
# List slicing in Python

my_list = ['S','a','n','j','a','y']

# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['n', 'j', 'a']
['S']
['y']
['S', 'a', 'n', 'j', 'a', 'y']

In [ ]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item
odd[0] = 1

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
# Appending and Extending lists in Python
odd = [1, 3, 5]

odd.append(7)

print(odd)

odd.extend([9, 11, 13])

print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [ ]:
# Concatenating
odd = [1, 3, 5]

print(odd + [9, 7, 5])

[1, 3, 5, 9, 7, 5]

In [ ]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)
# delete entire list

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

In [ ]:
# Python list methods
my_list = [3, 8, 1, 6, 0, 8, 4]

# Output: 1
print(my_list.index(8))

# Output: 2
print(my_list.count(8))

my_list.sort()

# Output: [0, 1, 3, 4, 6, 8, 8]
print(my_list)

my_list.reverse()

# Output: [8, 8, 6, 4, 3, 1, 0]
print(my_list)

1
2
[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]

In [ ]:
# A list can contain items of multiple types

generic_list = [1,"String",[1,2,3], 5]

print ('Value at {} is {} of type {}'.format(0,generic_list[0],type(generic_list[0])))
print ('Value at {} is {} of type {}'.format(1,generic_list[1],type(generic_list[1])))
print ('Value at {} is {} of type {}'.format(2,generic_list[2],type(generic_list[2])))
print ('Value at {} is {} of type {}'.format(3,generic_list[3],type(generic_list[3])))


# nested list access

print ('Accessing {} value from nested list {} = {}'.format(1,generic_list[2] ,generic_list[2][1]))

Value at 0 is 1 of type <class 'int'>
Value at 1 is String of type <class 'str'>
Value at 2 is [1, 2, 3] of type <class 'list'>
Value at 3 is 5 of type <class 'int'>
Accessing 1 value from nested list [1, 2, 3] = 2

#Tuples
A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In [1]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [2]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 3
print(b)      # 4.6
print(c)      # dog

(3, 4.6, 'dog')
3
4.6
dog

In [3]:
my_tuple = ("hello")
print(type(my_tuple))  # <class 'str'>

# Creating a tuple having one element
my_tuple = ("hello",)
print(type(my_tuple))  # <class 'tuple'>

# Parentheses is optional
my_tuple = "hello"
print(type(my_tuple))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'str'>

In [4]:
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # 'p'
print(my_tuple[5])   # 't'

p
t

In [5]:
# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][3])       # 's'
print(n_tuple[1][1])       # 4

s
4

In [6]:
# Negative indexing for accessing tuple elements
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')

# Output: 't'
print(my_tuple[-1])

# Output: 'p'
print(my_tuple[-6])

t
p

In [7]:
# Accessing tuple elements using slicing
my_tuple = ('s','a','n','j','a','y','I','N','D')

# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print(my_tuple[1:4])

# elements beginning to 2nd
# Output: ('p', 'r')
print(my_tuple[:-7])

# elements 8th to end
# Output: ('i', 'z')
print(my_tuple[7:])

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('a', 'n', 'j')
('s', 'a')
('N', 'D')
('s', 'a', 'n', 'j', 'a', 'y', 'I', 'N', 'D')

In [8]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])


# However, item of mutable element can be changed
my_tuple[3][0] = 9
print(my_tuple)

(4, 2, 3, [9, 5])

In [9]:
# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat
# Output: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

#Python Exception Handling
Exceptions occur when something wrong happens in the code. The program stops immediately.
Exceptions can be raised for multiple reasons. For e.g.

ImportError - An import fails

IndexError - A list is indexed with out of range error

SytanxError - Some syntax error

TypeError - A function is called with a wrong type of variable

ValueError - A function is called with inappropriate value

In [10]:
# To handle exceptions we use try/except statement. Try contains code that might throw an exception
try:
  num1 = 8
  num2 = 0
  x = num1/num2           # This line throws exception. The code stops immediately.
  print ("This statement will not be printed") # This line is not executed.

except ZeroDivisionError:
   print ("Zero Division Error")

Zero Division Error

In [11]:
# A try statement can have multiple except blocks

try:
  variable = 10
  print(variable+"hello")
  print(variable/2)

except ZeroDivisionError:
  print("Divided by Zero")
except(ValueError, TypeError):
  print("Error Occured")

Error Occured

In [12]:
# An except statement without any exception specified will catch all errors

try:

  4/0

except:
  print ("Error Occured")

Error Occured

In [13]:
# To ensure that code runs no matter a finally block will be used
try:
  print("Step 1")
  4/0                            # An exception happen here
except ZeroDivisionError:        # The exception is caught here
  print ("Divided by Zero")      # This is printed

finally:
  print("This will be always executed")  # This will be executed whether there is exception or not

Step 1
Divided by Zero
This will be always executed

In [14]:
def my_func():
  try:
    4/0   # This raises ZeroDivisionError

  except Exception as ex:
    template = "An exception of type {0} occurred. Arguments:\n{1!r}"
    message = template.format(type(ex).__name__, ex.args)
    print (message)
    raise # The ZeroDivisionError is propogated out


def another_func():
  try:
    my_func()
  except ZeroDivisionError: # The ZeroDivisionError is caught
      print ('Error')

another_func()

An exception of type ZeroDivisionError occurred. Arguments:
('division by zero',)
Error